{
  "env": {
    "test": {
      "presets": [
        "env",
        "stage-1"
      ],
      "plugins": [
        "transform-decorators-legacy"
      ]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current",
              "browsers": ["last 2 versions"]
            },
            "modules": false
          }
        ]
      ],
      "plugins": ["external-helpers", "transform-object-rest-spread"]
    }
  }

}
