{
  "env": {
    "development": {
      "presets": [
        "env",
        "react",
        "stage-1"
      ],
      "plugins": [
        "transform-decorators-legacy"
      ]
    },
    "test": {
      "presets": [
        "env",
        "react",
        "stage-1"
      ],
      "plugins": [
        "transform-decorators-legacy"
      ]
    },
    "production": {
      "presets": [
        "es2015-rollup",
        "stage-1"
      ],
      "plugins": ["external-helpers"]
    }
  }

}
