{
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "parser": "babel-eslint",
  "rules": {
    "max-len": [2, 120],
    "class-methods-use-this": [0],
    "prettier/prettier": "error"
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}
