{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "max-len": [2, 120],
    "class-methods-use-this": [0],
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}
