{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "max-len": [2, 120],
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "class-methods-use-this": [0],
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}
